/* CSS reset applied */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* code starts here */
*{
  box-sizing: border-box;
}
body{
background-color: #D0DDEA;
}

#main-heading{
text-align: center;
font-family:'Roboto',sans-serif;
font-size: 1.5rem;
padding: 25pt;
margin-right: 50px;
}
.navigation-bar{
height: 64px;
background-color: #11122b;
color: #cbcbcb;
display: flex; 
justify-content:right;
align-items:center;
padding:30px 5px 10px 5px ;
}

.list-item-styling{
  display: inline-block;
  margin: 20px;
  margin-top: 30px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  color: #cbcbcb;
  list-style: none;
  text-decoration: none
}
.copyright{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  word-spacing: 0.25rem;

}

figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;

}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
 width: fit-content;
}

#position-content
{
display: block;
background-color: #11122b;
margin: auto;
max-width: 100vw;
padding: 15px 25px;
color: #cbcbcb;
text-align: center;
line-height: 1.8;

}
#name{
  border-radius: 2px;
  border:skyblue;
}
#email{
  border-radius: 2px;
  margin-top: 5px;
  border: skyblue;
  position: relative;
  left:2px;
}
#btn{
  padding: 5px;
  background:whitesmoke;
  position: relative;
  left: 20pt;
}
#fix-2{

  position: relative;
  left: 17pt;
  padding: 2px;
  margin:10px;
}

